

NAME={{name}}
DATABASE_HOST={{database.host}}
DATABASE_PORT={{database.port}}
DATABASE_USERNAME={{database.username}}
DATABASE_PASSWORD={{database.password}}
ORGANIZATION_DOMAIN={{organization.domain}}
ORGANIZATION_NAME={{organization.name}}